<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <p><%= photo.user.email %></p>
  </div>
  <div class="col-md-7 well">
    <div class="thumbnail">
      <%= image_tag photo.image, :class => "img-responsive" %>
      <div class="caption">
        <p class="lead"><%= photo.caption %></p>
        <p>
          <%= link_to "<i class='fa fa-search-plus'></i>".html_safe, photo, :class => "btn btn-primary" %>
          <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_photo_path(photo), :class => "btn btn-warning" %>
          <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, photo, :method => "delete", :class => "btn btn-danger" %>
        </p>
      </div>
    </div>
    <% photo.comments.each do |comment| %>
      <%= render 'comments/comment', :comment => comment %>
    <% end %>
  </div>
</div>
