<h1>Edit Picture</h1>

<% if @photo.errors.any? %>
  <ul>
    <% @photo.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag photo_url(@photo.id), :method => "patch" do %>
  <%= label_tag :caption %>
  <%= text_field_tag :caption, @photo.caption %>


  <%= label_tag :image_url %>
  <%= text_field_tag :image_url, @photo.image_url %>

  <%= submit_tag %>
  or
  <%= link_to "Cancel", photos_url %>
<% end %>

