
<%= link_to "Add A New Photo", new_photo_path, :class => "btn btn-default" %>

<% @photos.each do |photo| %>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag photo.image, :class => "img-responsive" %>
        <div class="caption">
          <h3><%= photo.caption %></h3>
          <h4><%= photo.user.email %></h4>
          <p>
            <%= link_to "See Details", photo, :class => "btn btn-primary" %>
            <%= link_to "Edit", edit_photo_path(photo), :class => "btn btn-warning" %>
            <%= link_to "Destroy", photo, :method => "delete", :class => "btn btn-danger" %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
