<h1>All Pictures</h1>

<%= link_to "Add A New Photo", "/photos/new" %>

<ul>
  <% @photos.each do |photo| %>
    <li>
      <p><%= photo.caption %></p>
      <%= image_tag photo.image_url, :width => 100 %>
      <p>
        <%= link_to "See Details", "/photos/#{photo.id}" %>
        <%= link_to "Edit", "/photos/#{photo.id}/edit" %>
        <%= link_to "Destroy", "/delete_photo/#{photo.id}" %>
      </p>
    </li>
  <% end %>
</ul>
