<h1>All Pictures</h1>

<%= link_to "Add A New Photo", new_photo_path %>

<ul>
  <% @photos.each do |photo| %>
    <li>
      <p><%= photo.caption %></p>
      <%= image_tag photo.image_url, :width => 100 %>
      <p>
        <%= link_to "See Details", photo %>
        <%= link_to "Edit", edit_photo_path(photo) %>
        <%= link_to "Destroy", photo, :method => "delete" %>
      </p>
    </li>
  <% end %>
</ul>
