<h1>All Pictures</h1>

<a href="/photos/new">Add A New Picture</a>

<ul>
  <% @photos.each do |photo| %>
    <li>
      <p><%= photo.caption %></p>
      <img src="<%= photo.image_url %>" width="100">
      <p>
        <a href="/photos/<%= photo.id %>">See Details</a>
        <a href="/photos/<%= photo.id %>/edit">Edit</a>
        <a href="/delete_photo/<%= photo.id %>">Destroy</a>
      </p>
    </li>
  <% end %>
</ul>
