<div class="page-header">
  <h1>Photo Details</h1>
</div>

<%= link_to "Back", photos_url, :class => "btn btn-default" %>

<dl class="dl-horizontal">
  <dt>Caption:</dt>
  <dd><%= @photo.caption %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag @photo.image, :class => "img-responsive" %></dd>
</dl>

<ul>
  <% @photo.comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>

  <li>
    <%= form_for Comment.new(:photo_id => @photo.id) do |f| %>
      <%= f.text_field :content %>
      <%= f.hidden_field :photo_id %>

      <%= f.submit %>
    <% end %>
  </li>
</ul>

<ul>
  <% @photo.fans.each do |user| %>
    <li>
      <%= image_tag user.avatar_url, :width => 80 %>
      <p><%= user.nickname %></p>
    </li>
  <% end %>
</ul>



<div style="height: 400px"></div>
